.details-wrapper {
    max-width: 900px;
    margin: 20px auto;
    position: relative;
}

.details {
    ::ng-deep mwl-gauge {
        width: 120px;
        height: 120px;
        display: block;
        padding: 10px;

        .dial {
            stroke-width: 12;
            stroke-linecap: round;
        }

        .value {
           stroke-dasharray: none;
           stroke-width: 12; 
           stroke-linecap: round;
        }

        .value-text {
            fill: #fff;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .game-gauge {
        position: absolute;
        top: 65px;
        right: 0;

        &-label {
            font-size: 16px;
            color: #fff;
            position: relative;
            bottom: 50px;

            &:hover {
                color: rgb(38, 240, 240);
            }
        }
    }
}

.game {
    &-banner {
        height: 442px;
        overflow: hidden;
        display:inline-block;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


        &-img {
            position: relative;
            z-index: -1;
            width: 100%;
            filter: blur(5px);

            
        }
        
    }

    &-content {
        text-align: center;
        position: relative;
        top: -200px;
    }

    &-header {
        &-title {
            font-size: 70px;
            color: #fff;
            font-weight: 700;
            line-height: 70px;
            white-space: nowrap;
        }

        &-release-date {
            color: #fff;
            font-weight: 700;
        }

        &-genres {
            color: #fff;
            font-weight: 500;
        }

    }
}


