/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: radial-gradient(circle, rgba(0,79,96,1) 6%, rgba(24,24,65,1) 36%, rgba(2,0,36,1) 67%);
    padding-top: 60px;
    height: 100%;
}

body * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

